.effectsPrompt{
    display:grid;
    width:966px;
    // height:349px;
    justify-content: space-around;
    grid-template-columns: auto 50% auto;
    border:1px solid black;
    border-radius: 32px 32px 8px 8px;
    position:fixed;
    padding:16px;
    z-index:4;
    left:calc(966px/2);
    top:32px;
    box-shadow: 16px 12px 16px 8px rgba(255, 255, 255, 0.1) inset;


    section{
        .effectContainer:nth-of-type(1){
            margin-bottom: 64px;
        }
    }
    .midSection{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .divider{
            height:32px;
        }
        .buttonContainer{
            display:flex; flex-direction: column;
            align-items: center;
            button{
                width:60%;
                font-size: 18px;
                height:56px;
                border-color:inherit;
                border-top-width: 0px;
                margin:0px 32px;
                cursor: pointer;
                transition: opacity ease-out 0.1s;
            }
            button:nth-of-type(1){
                border-radius:16px 16px 0 0;
            }
            button:nth-of-type(2){
                border-radius:0 0 16px 16px;
            }
            .buttonHide{
                cursor:default;
                opacity: 0.1;
                border:none;
            }
        }
        input{
            background: none;
            font-size:1.5em;
            text-align: center;
            border-width:0px 0px 1px 0px;
            border-color:black;
            border-style:solid;
            outline:none;
            width:80%;
        }
        
    }
}