.notePromptContainer {
  outline: 1px solid black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notePromptContainer #newNotePromptFretboard {
  display: flex;
  position: fixed;
  z-index: 5;
  border: 2px solid black;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  color: black;
  background-color: black;
  background-image: url("../../../../Assets/Images/Textures/Wooden1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.notePromptContainer #newNotePromptFretboard .headerContainer {
  display: flex;
  flex-direction: column-reverse;
  visibility: hidden;
  width: 2px;
}
.notePromptContainer #newNotePromptFretboard .headerContainer[class~=bass] {
  height: 112px;
}
.notePromptContainer #newNotePromptFretboard .headerContainer[class~=guitar] {
  height: 128px;
}
.notePromptContainer #newNotePromptFretboard .stringsContainer {
  position: relative;
}
.notePromptContainer #newNotePromptFretboard .stringsContainer .string {
  position: relative;
  display: flex;
  flex-direction: row;
  border-width: 0px 1px;
  border-style: solid;
  border-color: black;
}
.notePromptContainer #newNotePromptFretboard .stringsContainer .string .fret {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.notePromptContainer #newNotePromptFretboard .stringsContainer .string .fret .fretMarker {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-width: 0px 1px 0px 2px;
  border-left-color: rgb(216, 216, 216);
  border-right-color: rgb(102, 102, 102);
  border-style: ridge;
}
.notePromptContainer #newNotePromptFretboard .stringsContainer .string .fret .fretMarker #OpenFret {
  position: relative;
  z-index: 4;
  color: white;
}
.notePromptContainer #newNotePromptFretboard .stringsContainer .string .fret .stringMarker {
  position: relative;
  z-index: 2;
}
.notePromptContainer #newNotePromptFretboard .stringsContainer .string .fret .stringMarker .stringOverlay {
  background-image: url("../../../../Assets/Images/Textures/Metal2.jpg");
  filter: brightness(0.5);
  opacity: 0.25;
  z-index: 3;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.notePromptContainer #newNotePromptFretboard .stringsContainer .string .fret #selectedNote {
  position: absolute;
  height: 120%;
  left: 40%;
  aspect-ratio: 1;
  z-index: 3;
  color: #fafafa;
  background: rgba(204, 38, 38, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  box-shadow: 0px 0px 2px black inset;
}
.notePromptContainer #newNotePromptFretboard .stringsContainer .string .fret .mouseInteract {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.notePromptContainer #newNotePromptFretboard .stringsContainer .string .openString {
  background-color: rgba(0, 0, 0, 0.5);
}
.notePromptContainer #newNotePromptFretboard .stringsContainer .string .stringShadow {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 1px 4px saddlebrown;
}
.notePromptContainer #newNotePromptFretboard .stringsContainer .string[class~=bassStrings] {
  height: 25%;
}
.notePromptContainer #newNotePromptFretboard .stringsContainer .string[class~=guitarStrings] {
  height: 16.6666666667%;
}
.notePromptContainer #newNotePromptFretboard .stringsContainer .fretMarkersContainer {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}
.notePromptContainer #newNotePromptFretboard .stringsContainer .fretMarkersContainer .fretDotsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.notePromptContainer #newNotePromptFretboard .stringsContainer .fretMarkersContainer .fretDotsContainer span {
  width: 12px;
  aspect-ratio: 1;
  border-radius: 12px;
  background-color: #fafafa;
  border: 1px solid #313131;
}
.notePromptContainer #newNotePromptFretboard .stringsContainer .fretMarkersContainer span {
  display: block;
  width: 32px;
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(1) {
  width: 4.86vw;
  min-width: 69.5px;
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(1) {
  width: 4.86vw;
  min-width: 69.5px;
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(2) {
  width: 4.72vw;
  min-width: 67px;
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(2) {
  width: 4.72vw;
  min-width: 67px;
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(3) {
  width: 4.58vw;
  min-width: 64.5px;
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(3) {
  width: 4.58vw;
  min-width: 64.5px;
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(4) {
  width: 4.44vw;
  min-width: 62px;
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(4) {
  width: 4.44vw;
  min-width: 62px;
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(5) {
  width: 4.3vw;
  min-width: 59.5px;
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(5) {
  width: 4.3vw;
  min-width: 59.5px;
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(6) {
  width: 4.16vw;
  min-width: 57px;
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(6) {
  width: 4.16vw;
  min-width: 57px;
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(7) {
  width: 4.02vw;
  min-width: 54.5px;
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(7) {
  width: 4.02vw;
  min-width: 54.5px;
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(8) {
  width: 3.88vw;
  min-width: 52px;
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(8) {
  width: 3.88vw;
  min-width: 52px;
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(9) {
  width: 3.74vw;
  min-width: 49.5px;
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(9) {
  width: 3.74vw;
  min-width: 49.5px;
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(10) {
  width: 3.6vw;
  min-width: 47px;
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(10) {
  width: 3.6vw;
  min-width: 47px;
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(11) {
  width: 3.46vw;
  min-width: 44.5px;
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(11) {
  width: 3.46vw;
  min-width: 44.5px;
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(12) {
  width: 3.32vw;
  min-width: 42px;
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(12) {
  width: 3.32vw;
  min-width: 42px;
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(13) {
  width: 3.18vw;
  min-width: 39.5px;
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(13) {
  width: 3.18vw;
  min-width: 39.5px;
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(14) {
  width: 3.04vw;
  min-width: 37px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fret:nth-of-type(14) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(14) {
  width: 3.04vw;
  min-width: 37px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(14) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(15) {
  width: 2.9vw;
  min-width: 34.5px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fret:nth-of-type(15) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(15) {
  width: 2.9vw;
  min-width: 34.5px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(15) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(16) {
  width: 2.76vw;
  min-width: 32px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fret:nth-of-type(16) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(16) {
  width: 2.76vw;
  min-width: 32px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(16) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(17) {
  width: 2.62vw;
  min-width: 29.5px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fret:nth-of-type(17) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(17) {
  width: 2.62vw;
  min-width: 29.5px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(17) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(18) {
  width: 2.48vw;
  min-width: 27px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fret:nth-of-type(18) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(18) {
  width: 2.48vw;
  min-width: 27px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(18) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(19) {
  width: 2.34vw;
  min-width: 24.5px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fret:nth-of-type(19) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(19) {
  width: 2.34vw;
  min-width: 24.5px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(19) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(20) {
  width: 2.2vw;
  min-width: 22px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fret:nth-of-type(20) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(20) {
  width: 2.2vw;
  min-width: 22px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(20) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(21) {
  width: 2.06vw;
  min-width: 19.5px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fret:nth-of-type(21) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(21) {
  width: 2.06vw;
  min-width: 19.5px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(21) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(22) {
  width: 1.92vw;
  min-width: 17px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fret:nth-of-type(22) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(22) {
  width: 1.92vw;
  min-width: 17px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(22) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(23) {
  width: 1.78vw;
  min-width: 14.5px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fret:nth-of-type(23) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(23) {
  width: 1.78vw;
  min-width: 14.5px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(23) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(24) {
  width: 1.64vw;
  min-width: 12px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fret:nth-of-type(24) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(24) {
  width: 1.64vw;
  min-width: 12px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(24) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(25) {
  width: 1.5vw;
  min-width: 9.5px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fret:nth-of-type(25) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(25) {
  width: 1.5vw;
  min-width: 9.5px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(25) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(26) {
  width: 1.36vw;
  min-width: 7px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fret:nth-of-type(26) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(26) {
  width: 1.36vw;
  min-width: 7px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(26) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(27) {
  width: 1.22vw;
  min-width: 4.5px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fret:nth-of-type(27) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(27) {
  width: 1.22vw;
  min-width: 4.5px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(27) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fret:nth-of-type(28) {
  width: 1.08vw;
  min-width: 2px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fret:nth-of-type(28) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(28) {
  width: 1.08vw;
  min-width: 2px;
}
@media (max-width: 1116px) {
  .notePromptContainer #newNotePromptFretboard .fretDotsContainer:nth-of-type(28) {
    display: none !important;
  }
}
.notePromptContainer #newNotePromptFretboard .bassString {
  background: rgb(210, 216, 218);
  background: linear-gradient(180deg, rgb(210, 216, 218) 8%, rgb(120, 126, 126) 50%, rgb(139, 146, 147) 72%);
}
.notePromptContainer #newNotePromptFretboard .guitarString {
  background: rgb(210, 216, 218);
  background: linear-gradient(180deg, rgb(210, 216, 218) 8%, rgb(120, 126, 126) 50%, rgb(139, 146, 147) 72%);
}
.notePromptContainer #newNotePromptFretboard #BassE {
  height: 5px;
}
.notePromptContainer #newNotePromptFretboard #BassA {
  height: 4px;
}
.notePromptContainer #newNotePromptFretboard #BassD {
  height: 3px;
}
.notePromptContainer #newNotePromptFretboard #BassG {
  height: 2.5px;
}
.notePromptContainer #newNotePromptFretboard #GuitarE {
  height: 4px;
}
.notePromptContainer #newNotePromptFretboard #GuitarA {
  height: 3px;
}
.notePromptContainer #newNotePromptFretboard #GuitarD {
  height: 2px;
}
.notePromptContainer #newNotePromptFretboard #GuitarG {
  height: 2px;
}
.notePromptContainer #newNotePromptFretboard #GuitarB {
  height: 2px;
}
.notePromptContainer #newNotePromptFretboard #Guitare {
  height: 2px;
}/*# sourceMappingURL=NewNoteFretboardStyle.css.map */