// Using Sass here instead of SCSS to try and keep the file small, can't remember how this is keeping the file small. It's practice either way
*
  box-sizing: border-box
.backgroundColor1 
  background-color: #D3D3D3
.backgroundColor2
  background-color: #FFF
.backgroundColor3 
  background-color: #e9e9e9